@charset "utf-8";

/********** Small：540pxm未満用の記述 **********/
.auth-card {
  background: rgba(255, 255, 255, .75);
  backdrop-filter: blur(12px);
  width: 90%;
  min-width: 300px;
}

.auth-link a{
  display: block;
  padding: 6px 12px;
}

.auth-link a:hover{
  color: #7b7a7a;
  text-decoration: none;
  background-color: #e1dfe0;
}


/********** Medium：540px以上用の記述 **********/
@media screen and (min-width: 540px) {
  .auth-card {
    width: 50%;
    min-width: 500px;
  }
}

/********** Large：720px以上用の記述 **********/
@media screen and (min-width: 720px) {
  /*  */
}
